header {
    position: sticky; /**/
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1em solid #cccccc;
}

img {
    width: 65%;
}

#menu {
    font-family: "Lato", serif;
    font-size: 1.5em;
}

#header {
    padding: 2em;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon {
    width: 40px;
    height:40px;
}

body{
    font-family: "Lora", serif;
}

#titulos {
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-size: 6.5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-family: "Lato", serif;
    font-size: 2em;
    display: inline;
}

#negrita {
    font-family: "Lato", serif;
    font-size: 1.8em;
    font-weight: 400;
}

#finito {
    font-family: "Lato", serif;
    font-size: 1.3em;
    font-weight: 300;
}

button {
    font-size: 1.8em;
    border-radius: 10px;
    border: none;
    font-family: "Lato", serif;
    color: white;
    padding: 1em;
}

p {
    font-family: "Lato", serif;
}



#gti {
    background-color: #A03A6F;
}

#proa {
    background-color: #459CFF;
}

form {
    padding: 1.5em;
    border-radius: 5px;
    border: .1em solid #cccccc;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
}

input {
    font-family: "Lato", serif;
    font-size: 1.2em;
}

label {
    font-family: "Lato", serif;
    font-size: 1.2em;
}

select {
    font-family: "Lato", serif;
    font-size: 1.2em;
}

#btn-gti {
   background-color: #A03A6F;
    color: white;
    font-size: 1.2em;
}

#btn-gti-negativo {
    background-color: white;
    color: #459CFF;
    border: .1em solid #459CFF;
    font-size: 1.2em;
}

#btn-proa {
    background-color: #459CFF;
    color: white;
    font-size: 1.2em;
}