.formulario-contacto {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 4em 3em;
}

.formulario-contacto h2,
.formulario-contacto p {
    text-align: left;
    max-width: 100%;
    margin: 0;
}

.formulario-contacto label {
    margin-bottom: 0.5em;
}

.grupo-campos {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
}

.campo {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

.campo-largo {
    flex: 1 1 100%;
}

.boton-contacto {
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 0.8em 3em;
}

.campo-error {
    border: 2px solid var(--color-rojoError) !important;
    border-radius: 5px;
}

/* region --- POPUP CONTACTO --- */
.popup-contenido {
    position: relative;
    padding: 3em 2em 2em;
}

.btn-cerrar-popup {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: none;
    color: var(--color-textos);
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.btn-cerrar-popup:hover,
.btn-cerrar-popup:focus {
    color: var(--color-principal);
}

.popup-superior {
    margin-bottom: 1.5em;
    text-align: center;
}

.popup-titulo {
    font-size: 1.4em;
    font-weight: bold;
    font-family: var(--fuente-lato);
    color: var(--color-principal);
    display: inline-block;
}
/* endregion */


@media (max-width: 768px) {
    .formulario-contacto {
        padding: 3em 2em;
    }

    .campo,
    .campo-largo {
        flex: 1 1 100%;
    }

    .boton-contacto {
        justify-content: center;

    }

    .btn {
        width: 100%;
    }
}
