/* region --- Primera sección --- */
.contenedor {
    position: relative;
    min-height: calc(100vh - 80px); /* Ajusta la altura restando la del header */
    background: url('../img/imagenPagProducto.svg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-textos);
    padding: 2rem;
    overflow: hidden;
}

.contenedor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Se definen con 0 para que ocupen lo mismo que el contenedor */
    background-color: rgba(155, 201, 253, 0.25); /* Azul translúcido */
}


.contenedor h1,
.contenedor p,
.contenedor .cta-contenedor {
    position: relative;
}

/* Espaciado entre elementos */
.contenedor h1 {
    margin-bottom: 4.3rem;
}

.contenedor p.parrafo-principal {
    margin-bottom: 4.5rem;
    max-width: 1000px;
}

.cta-contenedor {
    display: flex;
    flex-direction: column;
}

.contenedor p.parrafo-secundario {
    margin-bottom: 1.625em;
}

.btnCTA-PROA {
    text-decoration: none;
    display: inline-block;
}
/*endregion*/

/* region --- Segunda sección --- */
.caracteristicas-principales {
    text-align: center;
    padding: 4em 2em;
    background-color: var(--color-blancoPuro);
    color: var(--color-textos);
}

.caracteristicas-principales h2 {
    margin-bottom: 2.5em;
}

.caracteristicas-grid {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
}

.caracteristica {
    flex: 1 1 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.caracteristica img {
    width: 80px;
    height: 80px;
    margin-bottom: 1.625em;
}

.caracteristica h3 {
    font-family: var(--fuente-lato);
    margin-bottom: 1.30em;
}

.caracteristica p {
    font-family: var(--fuente-lato);
    line-height: 1.5; /* El navegador asigna 24px de altura total para cada línea */
}

@media (max-width: 900px) {
    .caracteristicas-grid {
        flex-direction: column;
        align-items: center;
    }

    .caracteristica {
        margin-bottom: 2.5em;
    }
}
/*endregion*/

/* region --- Tercera sección: ¿Qué hace a PROA diferente? --- */
.seccion-diferenciadora {
    background-color: rgba(159, 204, 255, 0.15); /* #9FCCFF al 15% */
    padding: 6em 3em;
    color: var(--color-textos);
}

.contenedor-diferenciador {
    display: flex;
    gap: 3em;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.texto-diferenciador {
    flex: 1 1 500px;
}

.texto-diferenciador p {
    margin-top: 1.6em;
}

.imagen-diferenciador {
    flex: 1 1 300px;
    max-width: 500px;
    display: flex;
    align-items: flex-start;
    margin-top: 5.5em;
}

.imagen-diferenciador img {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .imagen-diferenciador {
        display: flex;
        align-items: center;
        margin-top: 4.5em;
    }
}

@media (max-width: 1100px) {
    .contenedor-diferenciador {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .imagen-diferenciador {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.5em;
    }
}

@media (max-width: 480px) {
    .contenedor-diferenciador {
        gap: 0.7em;
    }
    .seccion-diferenciadora {
        padding: 4em 2em;
    }
}
/*endregion*/



